
.btn{
	display: inline-block;
	cursor: pointer;
	border-radius: 4px;
	overflow: hidden;
	text-decoration: none;
	color: #FFF;
	font-size: 1rem;
	padding: 5px 10px;
	border: none;
	outline: none;
	

	&--orange {
		position: relative;
		background-color: $mainOrange;
		bottom: 2rem;
	}

	&--orange:hover {
    	background: linear-gradient($lightOrange, color($lightOrange b(+30%) s(+80%)));
	}

	&--dark-orange {
		position: relative;
		bottom: 2rem;
		background-color: $darkOrange;
	}

	&--dark-orange:hover {
		background: linear-gradient($darkOrange, color($darkOrange b(+40%) s(+80%)));
	}
	  

	&--large{
		
		font-size: 1.25rem;
		bottom: 0;

		@mixin atMedium{
			bottom: 0;
		}
	}

}