.modal {
  position: fixed;
  z-index: 99999;
  background-color: rgba(255, 255, 255, .94);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transform: scale(1.2);
  transition: all .3s ease-out;

  &--is-visible {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }

  &__inner {
    position: absolute;
    width: 80%;
    height: 80%;
    top: 1rem;
    left: 50%;
    bottom: 2rem;
    transform: translateX(-50%); 

    &--img{
        position: relative;
        width: 100%; 
        height: auto; 
        display: block;

        @mixin atMedium{
          position: relative;
          width: 100%;
          height: 100%;
          display: block;
        }
    }

    &--details{
      position: absolute;
      bottom: 20px;
      left: 5px;
      color: orange;
    }

    &--caption{
        text-align: center;
        color: $darkOrange;
    }
  }

  &__close {
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 2rem;
    transform: scaleX(1.2);
    transform-origin: 100% 0;
    color: $mainBlue;
    

    @mixin atMedium{
      position: absolute;
      top: 15px;
      right: 75px;
      font-size: 2rem;
      transform: scaleX(1.2);
      transform-origin: 100% 0;
      color: $mainBlue;
      cursor: pointer;
    }

    &:hover {
      color: $mainOrange;
    }
  }
}