.page-section {
	padding: 0;

	&--blue{
		background-color: $mainBlue;
		color: #FFF
	}
	&__imgTitle{
		text-align: center;
		color: $mainBlue;
	}

	&__photo-page{
		/* display: flex;
		flex-wrap: wrap;
		justify-content: center;  */
		width: 100%;
		display: block;
		text-align: center;
		background-color: rgba($mainBlue, .2);

		
		@mixin atMedium{
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			background-color: rgba($mainBlue, .2);
			cursor: pointer;
			
		}

		@mixin atLarge{
			
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			background-color: rgba($mainBlue, .2);
			
		}

		&--img{
			position: relative;
			display: inline;

			@mixin atMedium{
				height: 270px;
				width: 300px;

			}
		}

	}


/*testimonial section styles */
	&--testimonials{
		background-color: #e0e6ef; /*background color for small devices */

		@mixin atLarge{
			background: url('/assets/images/testimonials-bg.jpg') top center no-repeat;
			background-size: cover;
		}
		
	}

	@mixin atMedium{
		padding: 1.5rem 0;
		background-color: rgba($beige, .2);
	}

	&--no-b-padding-until-medium{
		padding-bottom: 0;

		@mixin atMedium{
			padding-bottom: 4.5rem;
		}
	}

	&--no-b-padding-until-large{
		padding-bottom: 0;

		@mixin atLarge{
			padding-bottom: 4.5rem;
		}
	}
}
